getting fiddler to work... almost there..

I am making progress on my fiddler setup, but now I get stuck when trying to create a websocket connection..

I get a `504` error when trying to connect to `https://hmip1-1.homematic.com:8888`. The fiddler log reports 

```
14:04:59:1864 Fiddler.Network.ProtocolViolation - [#13] Incorrectly formed Request-Line. abs_path was empty (e.g. missing /). RFC2616 Section 5.1.2
```

meaning there is no url provided. Does anyone have an idea how to bypass this ?


Turns out the above is an invalid url for fiddler. If you'd add a '/' to the end all works fine...